@import "../variables/variables";

.futer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 20%;
    background-image: $color_fondo;
    color: rgb(2, 0, 146);
    padding-bottom: 2%;
    padding-top: 1%;

    .img_futer{
        display: flex;
        align-items: center;

        .img_logo_futer{
            height: calc(50px + 2vh);
            width: calc(50px + 2vw);
        }
    }

    .span_futer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
    }

    .div_futer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-left: 1%;

        .redes_iconos{
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: space-evenly;

            .bi-facebook{
                font-size: $tam_icono;
                color: rgb(2, 0, 146);
            }
            
            .bi-twitter{
                font-size: $tam_icono;
                color: rgb(2, 0, 146);
            }
            
            .bi-instagram{
                font-size: $tam_icono;
                color: rgb(2, 0, 146);

            }
        }
    }
}