@import "../variables/variables";

*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  background-color: rgb(240, 240, 240);
}

h2{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 2%;
  color: #0092ff;
}

h3{
  font-size: 25px;
  margin-bottom: 3%;
}

@mixin img ($padding, $altura, $ancho){
  padding-top: $padding;
  height: $altura;
  width: $ancho;
}

@mixin cuerpo_flex ($direccion, $justify, $text, $items){
    display: flex;
    flex-direction: $direccion;
    flex-wrap: wrap;
    justify-content: $justify;
    text-align: $text;
    align-items: $items;
}

.btn-light{
  margin-bottom: 2%;
}

/*----------------------Index----------------------*/

#titulo_Index{
  @include cuerpo_flex(column, space-evenly, center, center);
  margin: 3%;
}

.que_reparamos{
  @include cuerpo_flex(column, center, center, center);
  width: 70%;
}

.quienes_somos{
  @include cuerpo_flex(row, space-between, start, flex-start);
  background-color: $color_cuerpo;
  margin: 3%;
  padding: 2%;
}

.span_quienes{
  @include cuerpo_flex(column, center, start, flex-start);
  width: 40%;

  #titulo_quienes{
    margin-bottom: 5%;
  }
}


.div_imagen_1{
  width: 55%;

  #imagen_1{
      width: 100%;
  }
}

/*--Carrusel Index--*/

.slider_index {
  margin: 2%;
  width: 95.5%;
}
.slider_index input {
  display: none;
}
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 350px;
  perspective: 1000px;
  overflow: hidden;
}
.testimonials .item {
  top: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
  width: 400px;
  text-align: center;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  user-select: none;
  cursor: pointer;
  border: solid black;
  border-width: 0.5px;
  border-radius: 10px;
}
.testimonials .item img {
  width: 20pc;
  height: 13pc;
}
.testimonials .item p {
  color: black;
}
.testimonials .item h2 {
  font-size: 14px;
}
.dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dots label {
  display: block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413B52;
  margin: 7px;
  transition: transform 0.2s, color 0.2s;
}
/* First */
#t-1:checked ~ .dots label[for="t-1"] {
  transform: scale(2);
  background-color: rgb(228, 228, 228);
}
#t-1:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-1:checked ~ .testimonials label[for="t-1"] {
  z-index: 4;
}
#t-1:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 3;
}
#t-1:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 2;
}
#t-1:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
  z-index: 1;
}
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(1200px) translateZ(-360px) rotateY(-45deg);
}
/* Second */
#t-2:checked ~ .dots label[for="t-1"] {
  transform: scale(1.5);
}
#t-2:checked ~ .dots label[for="t-2"] {
  transform: scale(2);
  background-color: rgb(228, 228, 228);
}
#t-2:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-2:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-2:checked ~ .testimonials label[for="t-2"] {
  z-index: 3;
}
#t-2:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-2:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
  z-index: 1;
}
#t-2:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(900px) translateZ(-270px) rotateY(-35deg);
}
/* Third */
#t-3:checked ~ .dots label[for="t-2"] {
  transform: scale(1.5);
}
#t-3:checked ~ .dots label[for="t-3"] {
  transform: scale(2);
  background-color: rgb(228, 228, 228);
}
#t-3:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-3:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-3:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
}
#t-3:checked ~ .testimonials label[for="t-3"] {
  z-index: 3;
}
#t-3:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
  z-index: 2;
}
#t-3:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(600px) translateZ(-180px) rotateY(-25deg);
}
/* Fourth */
#t-4:checked ~ .dots label[for="t-3"] {
  transform: scale(1.5);
}
#t-4:checked ~ .dots label[for="t-4"] {
  transform: scale(2);
  background-color: rgb(228, 228, 228);
}
#t-4:checked ~ .dots label[for="t-5"] {
  transform: scale(1.5);
}
#t-4:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
}
#t-4:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
}
#t-4:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 2;
}
#t-4:checked ~ .testimonials label[for="t-4"] {
  z-index: 3;
}
#t-4:checked ~ .testimonials label[for="t-5"] {
  transform: translateX(300px) translateZ(-90px) rotateY(-15deg);
}
/* Fifth */
#t-5:checked ~ .dots label[for="t-4"] {
  transform: scale(1.5);
}
#t-5:checked ~ .dots label[for="t-5"] {
  transform: scale(2);
  background-color: rgb(228, 228, 228);
}
#t-5:checked ~ .testimonials label[for="t-1"] {
  transform: translateX(-1200px) translateZ(-360px) rotateY(45deg);
}
#t-5:checked ~ .testimonials label[for="t-2"] {
  transform: translateX(-900px) translateZ(-270px) rotateY(35deg);
  z-index: 1;
}
#t-5:checked ~ .testimonials label[for="t-3"] {
  transform: translateX(-600px) translateZ(-180px) rotateY(25deg);
  z-index: 2;
}
#t-5:checked ~ .testimonials label[for="t-4"] {
  transform: translateX(-300px) translateZ(-90px) rotateY(15deg);
  z-index: 3;
}
#t-5:checked ~ .testimonials label[for="t-5"] {
  z-index: 4;
}

/*----------------------Service----------------------*/

.cuerpo{
  @include cuerpo_flex(column, space-evenly, center, center);
  padding: 0%;
  width: 94%;
  margin: 3%;
}

.imagen_2{
  width: 100%;
  margin-bottom: 5%;
}

#haga_consulta{
  @include cuerpo_flex(row, center, center, center);
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

/*--Carrusel Marcas--*/

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 25s;

@keyframes scroll {
	0% { transform: translateX(0px); }
	100% { transform: translateX(calc(-250px * 11))}
}

.slider_service {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 95%;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll $animationSpeed linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
	}
  
  .img_slide{
    @include img(0px, 50px, 150px);
  }
  
  .img_slide_sanyo{
    @include img(0px, 70px, 150px);
  }
  
  .img_slide_sony{
    @include img(0px, 45px, 150px);
  }
  
  .img_slide_whirl{
    @include img(0px, 60px, 150px);
  }
}

/*----------------------Ventas----------------------*/

#consulta_stock{
  @include cuerpo_flex(row, center, center, center);
  margin-top: 7%;
  width: 100%;
}

/*----------------------Donde Estamos----------------------*/

.cuerpo_ubicacion{
  @include cuerpo_flex(column, center, center, center);

    .contenedor_ubicacion{
      @include cuerpo_flex(row, space-evenly, center, space-evenly);
      width: 100%;
      padding-left: 5%;
    }

    .info_ubicacion{
      @include cuerpo_flex(column, flex-start, center, center);
      width: 45%;

        .info_ubicacion_2{
          width: 100%;
          padding-left: 2%;
          border-top: solid rgb(209, 209, 209);
          border-left: solid rgb(209, 209, 209);
          border-right: solid rgb(209, 209, 209);
          border-width: 1px;
        }

        .bi{
          font-size: 18px;
          color: rgb(40, 40, 253);
        }

        .text_info{
          font-size: 80%;
          margin-bottom: 0%;
          font-family: $text_font;
        }
    }
       
    .text_info_2{
          font-size: 110%;
          font-family: $text_font;
    }
}

#mapa{
  margin-top: 40px;
  margin-bottom: 5%;
  height: 400px;
  width: 100%;
}

/*----------------------Formulario----------------------*/

.cuerpo_form{
  @include cuerpo_flex(row, center, left, center);
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;

  .texto_formulario{
    @include cuerpo_flex(column, flex-start, start, flex-start);
    width: 25%;
  }

  .texto_informativo{
    @include cuerpo_flex(column, flex-start, start, flex-start);
  }
}

form{
  margin-left: 5%;
  width: 60%;

  .form_apynom{
    @include cuerpo_flex(row, space-between, start, center);

    .form_nom{
      width: 47%;
    }

    .form_ap{
      width: 47%;
    }
  }

  .form_telymail{
    @include cuerpo_flex(row, space-between, start, center);
  
    .form_tel{
      width: 47%;
    }
  
    .form_mail{
      width: 47%;
    }
  }
}

textarea{
width:90%;
height: 150px;
resize:none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

label{
  font-size: 20px;
}

input{
  font-size: 15px;
}

option{
  font-size: 13px;
}