@import "../variables/variables";
@import "../layout/generales";


/*---------------Grid.service-----------------*/

#grid_service{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 130px 1fr 1fr 1fr 1fr;
    grid-template-areas:"a1 a1"
                        "a2 a4"
                        "a2 a5"
                        "a3 a6"
                        "a3 a7";

    #grid_service_titulo{
        grid-area: a1;
        @include cuerpo_flex(row, center, center, center);
    }

    #grid_service_img1{
        grid-area: a2;
        @include cuerpo_flex(row, center, center, center);
    }

    #grid_service_contactenos{
        grid-area: a4;
        @include cuerpo_flex(row, center, start, center);

        .grid_service_contactenos_interno{
            width: 70%;
        }

        .bi-telephone-fill{
            font-size: $tam_icono;
            border: solid blue;
            color: blue;
            padding: 3%;
        }
    }

    #grid_service_presupuesto{
        grid-area: a5;
        @include cuerpo_flex(row, center, start, center);

        .grid_service_presupuesto_interno{
            width: 70%;
            margin-left: 5%;
        }

        .bi-tools{
            font-size: $tam_icono;
            border: solid blue;
            color: blue;
            padding: 3%;
        }
    }

    #grid_service_img2{
        grid-area: a3;
        @include cuerpo_flex(row, center, center, center);
    }

    #grid_service_retiro{
        grid-area: a6;
        @include cuerpo_flex(row, center, start, center);

        .grid_service_retiro_interno{
            width: 70%;
        }

        .bi-truck{
            font-size: $tam_icono;
            border: solid blue;
            color: blue;
            padding: 3%;
            transform: rotatey(180deg);
        }
    }

    #grid_service_garantia{
        grid-area: a7;
        @include cuerpo_flex(row, center, start, center);

        .grid_service_garantia_interno{
            width: 70%;
            margin-left: 5%;
        }

        .bi-truck{
            font-size: $tam_icono;
            border: solid blue;
            color: blue;
            padding: 3%;
        }
    }
}

.img_grid{
    width: 60%;
}

/*---------------Grid.Ventas-----------------*/

#grid_ventas{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 25% 10% 25% 10% 25%;
    grid-template-areas:"c1 c1 c1 c1"
                        "c2 c3 c4 c5"
                        "c6 c6 c6 c6"
                        "c7 c7 c8 c8"
                        "c9 c9 c9 c9"
                        "ca cb cb cc";
    width: 95%;
    margin: 2.5%;

    #grid_ventas_cr_titulo{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c1;
    }

    #grid_ventas_cr_sony{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c2;
    }

    #grid_ventas_cr_lg{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c3;
    } 

    #grid_ventas_cr_samsung{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c4;
    } 

    #grid_ventas_cr_philips{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c5;
    } 

    .imagen_cr{
        @include img(0, 83%, 28%);
    }

    #grid_ventas_tvymicro_titulo{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c6;
    } 

    #grid_ventas_tv{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c7;
    } 

    #grid_ventas_micro{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c8;
    } 

    .imagen_equipo{
        @include img(0, 80%, 70%);
    }

    #grid_ventas_accesorios{
        @include cuerpo_flex(column, center, center, center);
        grid-area: c9;
    } 

    #grid_ventas_rca{
        @include cuerpo_flex(column, center, center, center);
        grid-area: ca;
    } 

    #grid_ventas_hdmi{
        @include cuerpo_flex(column, center, center, center);
        grid-area: cb;
    } 

    #grid_ventas_plug{
        @include cuerpo_flex(column, center, center, center);
        grid-area: cc;
    } 

    .imagen_accesorio{
        @include img(0, 80%, 70%);
    }

    .texto_grid{
        margin: 5%;
    }

    #card_grid{
        @include cuerpo_flex(row, center, center, center);
        height: 85%;
        width: 85%;
        border: solid rgb(0, 0, 0);
        border-width: 1px;
        border-radius: 5%;
        background-color: white;
    }

    #card_grid:hover{
        transform: scale(1.2, 1.2);
    }

    #card_grid_tvymicro{
        @extend #card_grid;
    }

    #card_grid_hdmi{
        @extend #card_grid;
    }
}