@import "../variables/variables";

@media only screen and (max-width: 576px){

    /*---------------Header-----------------*/

    .navegador{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        list-style-type: none;
        height: 20%;
        margin-bottom: 3%;
    }

    .li_navegador{
        font-size: 20px;
        margin: 2%;
    }

    /*---------------Index-----------------*/

    .que_reparamos{
        width: 100%;
    }

    .quienes_somos{
        flex-direction: column;
    }

    .span_quienes{
        flex-direction: column;
        text-align: start;
        align-items: flex-start;
        width: 100%;
        margin-bottom: 4%;
    }
    
    .div_imagen_1{
        width: 100%;
    }

    .slider_index {
        margin: 0%;
        margin-left: 1%;
        margin-top: 3%;
        width: 95%;
      }

    .testimonials {
        min-height: 270px;
        perspective: 700px;
      }
    .testimonials .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 57px;
        width: 270px;
        border-width: 1px;
      }

    .testimonials .item img {
        width: 10pc;
        height: 7pc;
      }
    /*---------------Service-----------------*/
    
    #grid_service{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50px 200px 200px 200px 200px;
        grid-template-areas:"a1 a1"
                            "a4 a4"
                            "a5 a5"
                            "a6 a6"
                            "a7 a7";

        #grid_service_titulo{
            padding-top: 3%;
        }
    }

#haga_consulta{
    margin-top: 3%;
    margin-left: 5%;
    margin-bottom: 3%;
}


    /*---------------Ventas-----------------*/

#grid_ventas{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 150px 150px 100px 150px 100px 150px 150px;
    grid-template-areas:"c1 c1"
                        "c2 c3"
                        "c4 c5"
                        "c6 c6"
                        "c7 c8"
                        "c9 c9"
                        "ca cc"
                        "cb cb";
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;

    #card_grid{
        height: 90%;
        width: 60%;
    }

    #card_grid_tvymicro{
        width: 90%;
        height: 90%;
    }

    #card_grid_hdmi{
        width: 60%;
        height: 90%;
    }

    .texto_grid{
        margin: 0%;
    }
}

#consulta_stock{
    margin-top: 10%;
  }

    /*---------------Donde Estamos-----------------*/
    .contenedor_ubicacion{
        @include cuerpo_flex(column, space-between, center, space-evenly);

        .info_ubicacion{
            width: 80%;
            padding-bottom: 2pc;

              .text_info{
                font-size: 110%;
              }
          }
      
          .texto_informativo{
            width: 95%;
      
              .text_info_2{
                font-size: 125%;
              }
          }
      }

    #mapa{
        margin-top: 5%;
    }

    /*---------------Contacto-----------------*/

    .cuerpo_form{
        @include cuerpo_flex(column, center, left, center);

        .texto_formulario{
            width: 90%;
        }
    }
    
    form{
        width: 95%;
        margin-left: 6%;

        .form_apynom{
            @include cuerpo_flex(column, flex-start, start, flex-start);

            .form_nom{
              width: 100%;
            }
        
            .form_ap{
              width: 100%;
            }
        }
        
          .form_telymail{
            @include cuerpo_flex(column, flex-start, start, flex-start);

            .form_tel{
              width: 100%;
            }
          
            .form_mail{
              width: 100%;
            }
        }

        .form-select{
            width: 90%;
        }

        .form-control{
            width: 90%;
        }
    }
    
    label{
        font-size: 20px;
    }
}

    /*---------------Contacto-----------------*/ 

.span_futer{
    width: 60%;
}
